/**rest**/
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/**common**/
.container{
width: 80%;
max-width: 1100px;
margin: 0 auto;
}


/**header**/
/**header-fist-part**/
.header-bg-first{
    background-color: lightblue;
    height: 80px;
    padding: 20px;
}

.navigation{
    display: flex;
    min-height: 30px;
    background-color: orange;
}

.flex-item-25{
    width: 25%;
    border: 1px solid black;
    min-width: 80px;
}

.flex-item-50{
    width: 50%;
    border: 1px solid black;
    min-width: 80px;
}

/**header-second-part**/

.background-hero{
    background-color: blue;
    min-height: 300px;
    padding: 30px;
}

.hero-banner{
    background-color: blueviolet;
    min-height: 200px;
    border: 1px solid black;
}